<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>Header</div><br />
    <div><a href="/">Home</a></div>
    <div><a href="/Account/SignUp">Sign Up</a></div>
    <div>@RenderBody()</div>
    <div>Footer</div>
</body>
</html>
